<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{- $title := cond .IsHome site.Title (printf "%s - %s" .Title site.Title) }}
<title>{{ $title }}</title>

{{- $description := or .Description .Summary site.Params.description }}
<meta name="description" content="{{ $description | plainify | truncate 160 }}">

<link rel="canonical" href="{{ .Permalink }}">

<meta property="og:type" content="{{ cond .IsPage "article" "website" }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description | plainify | truncate 160 }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ site.Title }}">
{{- with .Params.images }}<meta property="og:image" content="{{ index . 0 | absURL }}">{{ end }}
<meta name="twitter:card" content="summary">

{{- with site.Home.OutputFormats.Get "rss" }}
<link rel="alternate" type="application/rss+xml" href="{{ .Permalink }}" title="{{ site.Title }}">
{{- end }}

{{- $css := slice (resources.Get "css/main.css") (resources.Get "css/chroma.css") | resources.Concat "css/bundle.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
